.DS_Store
*.log
.env
.env.*
!.env.example
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.idea/
.vscode/
*.swp
